#App {
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-size: 100vh;
  background-size: cover;
}

.App-day {
  background-image: url("./image/day.jpg");

}

.App-night {
  background-image: url("./image/night.jpg");

  color: white;
}